* {
	box-sizing: border-box;
}

body {
	font-family: Ubuntu;
	margin: 0;
}

header {
	background-color: #2C001E;
	color: #FFFF00;
}

footer {
	font-size: 0.75em;
	padding: 5px;
	text-align: center;
}

.wrap {
	max-width: 1000px;
	margin: auto;
	padding: 5px 0;
}

.row {
	padding: 10px 0;
}

.row div {
	vertical-align: middle;
	margin-bottom: 10px;
}

#page-header {
	display: none;
}

#logo-wrapper {
	display: none;
}

#logo {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.page-title {
	font-size: 4em;
	color: #FFF;
	text-decoration: none;
	display: block;
	text-align: center;
}

.content {
	padding: 5px 5%;
}

#navbar-block {
	background-color: #F37320;
	margin: 0;
	transition: .3s;
}

.showed {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#navbar {
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
}

.showed #navbar {
	display: block;
}

.nav-item {
	width: 100%;
	padding: 0;
	text-align: center;
}

.nav-item a {
	display: block;
	padding: 10px;
	margin: 5px 0;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
	border-bottom: 1px solid transparent;
	transition: .3s;
}

.nav-item > a {
	color: #000;
}

.nav-item:hover > a {
	color: #FFF;
	border-bottom: 1px solid #FFF;
}

.stickyNavbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.dropdown {
	position: relative;
}

.expand-dropdown {
	background-image: url('/assets/plus.svg');
	background-repeat: no-repeat;
	background-size: 25px;
	position: absolute;
	right: 10px;
	top: 7px;
	width: 25px;
	height: 25px;
}

.dropdown .dropdown-content {
	display: none;
	padding: 0;
	margin: 0;
	color: #000;
	background-color: #FFF;
	min-width: 100%;
	list-style: none;
	box-shadow: 1px 1px 5px;
	z-index: 50;
}

.dropdown-item {
	padding: 0;
}

.dropdown-item a {
	color: #000;
}

.dropdown-item:hover {
	background-color: #DDDDDD;
}

#mobile-navbar {
	position: relative;
}

#mobile-navbar .page-title {
	font-size: 2em;
}

#show-menu {
	cursor: pointer;
	padding: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

#show-menu .bar {
	width: 30px;
	height: 5px;
	background-color: #000;
	transition: .3s;
}

#show-menu #middle {
	margin: 6px 0;
}

.showed #show-menu #middle {
	opacity: 0;
}

.showed #show-menu #top {
	transform: translateY(11px) rotate(45deg);
}

.showed #show-menu #bottom {
	transform: translateY(-11px) rotate(-45deg);
}

@media (min-width: 800px){
	.row div {
		display: inline-block;
	}

	#page-header {
		display: block;
	}

	#logo-wrapper {
		display: inline-block;
	}

	.content {
		padding: 5px;
	}

	#mobile-navbar {
		display: none;
	}

	#navbar {
		display: block;
	}

	.nav-item {
		width: auto;
		float: left;
		min-width: 150px;
		padding: 0;
	}

	.nav-item:not(:first-child) > a {
		border-left: 1px dotted #000;
	}

	.expand-dropdown {
		display: none;
	}

	.dropdown .dropdown-content {
		position: absolute;
	}

	.dropdown:hover > .dropdown-content {
		display: block;
	}

	.dropdown .dropdown .dropdown-content {
		top: 0;
		margin-left: 100%;
	}
}
